[submodule "src/opensbi"]
	path = src/opensbi
	url = https://code.videolan.org/Courmisch/opensbi.git
	branch = k230
[submodule "src/u-boot"]
	path = src/u-boot
	url = https://code.videolan.org/Courmisch/u-boot.git
	branch = k230
[submodule "src/linux"]
	path = src/linux
	url = git@github.com:intx82/linux-xuantie-kernel.git
[submodule "src/bcmdhd"]
	path = src/bcmdhd
	url = git@github.com:intx82/broadcom-bcmdhd-4359.git
